<h3>
  <strong>Product:</strong>
  <%= @ecommerce.product %>
</h3>

<p>
  <strong>Features:</strong>
  <%= @ecommerce.feature %>
</p>

<p>
    <%= link_to 'New article', new_article_path %>
	<%= link_to 'Back', ecommerces_path %>
</p>