// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body 
{ font-style: courier;
  font-size: 20px; 
  text-align: center;
	border: none;
	margin: 25px;
	padding: 25px;}